.parent {
  background-color: blueviolet;
  height: 50%;
  padding: 20px;
  position: relative;
}
.child {
  background-color: coral;
  height: 600%;
  padding: 10px;
  margin: 10px;
}
.child-one {
  position: relative;
  top: 10px;
}
.child-two {
  background-color: yellow;
}
